body{
    background-color: bisque;
}
h1{
    text-align: center;
}
html{
    font-size: 20px;
}
.container{
    font-size: 16px;
    background-color: white;
    max-width: 500px;
    padding: 20px;
    margin: 20px auto;
}
.container1{
    font-size: 1em;
}
.container2{
    font-size: 1.5em;
}
.container3{
    font-size: 2em;
}
.contain1{
    font-size: 0.5rem;
}
.contain2{
    font-size: 1rem;
}
.contain3{
    font-size: 1.5rem;
}
.vw{
    font-size: 2.5vw;
}
.vh{
    font-size: 2.5vh;
}
.px{
    font-size: 16px;
}
div > p{
    background-color: yellow;
}
p + div{
    background-color: orange;
}
div ~ a{
    background-color: green;
}
.content{
    background-color: aqua;
    width: 500px;
    text-align: center;
    margin: auto;
}
.content:hover{
    transform: scale(1.15);
    transition: 1s ease-in;
}